// Place all the styles related to the repos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap.min';

.nav{
  line-height: 50px;
}
.field_with_errors {
  label{
    color: #d9534f;
  }
  input{
    border-color: #d9534f;
    border-style: solid;
  }
}

.field{
  margin-top: 5px;
}

.repo{
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .nav{
    line-height: inherit;
  }
}